body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.Header{
    height: 10vh;
    flex-shrink: 0;
}
.Main{
    padding-left: 10vw;
    padding-right: 10vw;
    flex-grow: 1;
    background-color: #E9EAED;
    display: flex;
}

.Header{
    display:flex;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;

    background-color: rgba(255,255,255,0.85);
}
.HeaderPart{
    color:#ff6700;
    cursor: pointer;
    font-size: 16px;

    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
}
.HeaderPart:hover{
    color: #545454;
    text-decoration: none;
}
.HeaderPartDown{
    color:#ff6700;
    border: none;
    font-size: 16px;
}
.HeaderPartDown:hover{
    color: #545454;
    text-decoration: none;
    background-color: white;
}
.HeaderLogo{
    cursor: pointer;
    width: auto;
    height: 3em;
}
.Space{
    flex-grow: 1;
}

.MainForm{
    padding-left: 5vw;
    padding-right: 5vw;
}
.MainFormPart{
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.MainFormLabel{
    width: 5em;
    text-align: center;
    margin-right: 2em;
}
.MainFormInput{
    flex-grow: 1;
}
.MainCodeButton{
    margin-left: 1em;
}

.MainContent{
    width: 75%;
    margin-right: 2em;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.MainRight{
    width: 25%;
    margin-top: 1em;
}
.MainTitle{
    font-size: 18px;
    padding: 0.5em 1em;
    font-weight: bold;
    background-color: white;
    display: flex;
    align-items: center;
}
.MainArticle{
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display:flex;
    align-items: stretch;
    background-color: white;
}
.MainArticle:hover{
    box-shadow: 0 0 5px #545454;
}
.MainArticleInfoTitle{
    cursor: pointer;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-top: 1em;
}
.MainArticleInfoTitle:hover{
    color: #949292;
    text-decoration: none;
}
.MainArticleImg{
    height: 8em;
    width: 8em;
    margin-right: 2em;
}
.MainArticleInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.MainArticleInfoGroup{
    display: flex;
}
.MainArticleInfoGroupPart{
    margin-right: 1em;
}
.MainArticleInfoGroupPartLink{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.MainArticleInfoGroupPartLink:hover{
    color: #949292;
    text-decoration: none;
}
.MainContentPage{
    align-self: center;
}

.MainSearch{
    margin-bottom: 2em;
}
.MainTagTitle{
    background-color: white;
    padding: 1em;
    border-bottom: 1px #dbdbdb solid;
}
.MainTagContent{
    background-color: #f4f5f6;
    padding: 1em; 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.MainTagContentSpan{
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 12px;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}
.MainTagContentSpan:hover{
    text-decoration: none;
}